.request{
  display: flex;
  width: 1100px;
  background-color: white;
  height: 465px;
  border-radius: 5px;
}
.request-table {
  margin-top: 20px;
  margin-left: 10px;
}

.request-table table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  min-width: 400px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.request-table thead tr{
 background-color: #007bff;
 color:white;
 text-align: left;
}
.request-table th,
.request-table td{
  padding: 12px 15px;
  width: 11rem;
}
.request-table tbody tr{
  border-bottom: #dddddd;
}
.request-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
.request-table tbody tr:last-of-type{
  border-bottom: 2px solid #007bff;
}
.search-bar-request{
    width: 30%;
    height: 33px;
    background-color: #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 46rem;
}
.pagination {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }
  
  .btn {
    background-color: #ccc;
    margin-right: 5px;
    border-radius: 3px;
    padding: 2px;
  }
  
  .btn-next {
    background-color: #007bff;
    border-radius: 3px;
    border: 1px solid #007bff;
    color: white;
    padding: 2px;
    margin-right: 5px;
  }
  
  .option {
    background-color: #ccc;
    padding: 2px;
    margin-left: 5px;
    margin-right: 10px;
  }