.contact-form {
    margin-bottom: 20px;
    height: 465px;
    border-radius: 5px;
    background-color: white;
  }
  .contact-form h2{
    font-weight: 500;
    margin-left: 2rem;
  }
  
  .contact-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
  }

  .contact-item th,
  .contact-item td{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  
  }
  
  .contact-name {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }


  
  .phone {
    margin-left: 20rem;
    padding: 5px;
    color:  #007bff;
  }
  
  .button-group {
    display: flex;
    
  }
  
  .button-group button {
    padding: 10px 20px;
    background-color:#007bff;
    border: none;
    cursor: pointer;
    margin-left: 25px;
  }
  
  .button-group button:last-child {
    background-color:#007bff;
    color: white;
    margin-left: 12.5rem;
  }