.salary-container {
    margin-bottom: 20px;
    background-color: white;
    height: 465px;
    border-radius: 5px;
  }
  .salary-container h2{
    font-weight: 500;
    margin-left:10px ;
  }
  
  .salary-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .amount{
    color: green;
    font-size: 20px;
  }
  
  .salary-item:last-child {
    border-bottom: none;
  }
  
  .salary-details {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .salary-item p:first-child {
    font-weight: bold;
  }